
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;

}

input[type="search"]:focus{
  outline: none;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.category-btn:hover {
  background-color: #FC1503 !important;
  color: white !important;
}



.react-player {
  height: 77vh !important;
  width: 100% !important;
}


.category-btn{
  font-weight: bold !important;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: start;
  cursor:pointer;
  background: transparent;
  outline: none;
  border: none;

  padding: 7px 15px;
  margin: 10px 0px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 900px) {
  .category-btn{
    margin: 10px;
  }
}

@media screen and (max-width:800px){
  .copyright{
    display:none !important;
  }
}

@media screen and (max-width: 600px) {
  .scroll-horizontal {
    overflow: auto !important;
  }

  .react-player {
    height: 45vh !important;
  }
  .search-bar{
    width:200px;
  }
}

/*  Loader  */
.loader {
  width: 74px;
  height: 74px;
  position: relative;
  background-image:
    linear-gradient(#FFF 26px, transparent 0) ,
    linear-gradient(#FC1503 26px, transparent 0) ,
    linear-gradient(#FC1503 26px, transparent 0) ,
    linear-gradient(#FFF 26px, transparent 0);
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: left top , left bottom , right top , right bottom;
  animation: rotate 1s linear infinite;
}
@keyframes rotate {
  0% {
    width: 74px;
    height: 74px;
    transform: rotate(0deg)
  }
  50% {
    width: 40px;
    height: 40px;
    transform: rotate(180deg)
  }
  100% {
    width: 74px;
    height: 74px;
    transform: rotate(360deg)
  }
}
